<form #form="ngForm">
  <ion-modal (willDismiss)="onWillDismiss($event, form)" trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Welcome</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true" [disabled]="!form.valid">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item lines="none">
          <ion-input [(ngModel)]="name" clearInput="true" errorText="Введите название лекарства"
                     label="Название лекарства" labelPlacement="stacked" name="name"
                     placeholder="Название лекарства" required="true" type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input [(ngModel)]="description" label="Описание" name="description" labelPlacement="stacked"
                     placeholder="Описание"
                     type="text"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-input [(ngModel)]="date_before" name="date_before"
                     errorText="Введите дату окончания срока годности, указанную на упаковке"
                     label="Годен до" labelPlacement="stacked" placeholder="Годен до" required="true"
                     type="date"></ion-input>
        </ion-item>

      </ion-content>
    </ng-template>

  </ion-modal>
</form>
