<form #form="ngForm" novalidate>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="cancel()">Назад</ion-button>
      </ion-buttons>
      <ion-title class="ion-text-center">Welcome</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="confirm()" [strong]="true" [disabled]="!form.valid || form.pristine ">Сохранить
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
      </ion-header>
  <ion-content class="ion-padding" [fullscreen]="true">
    <ion-item lines="none">
      <ion-input [(ngModel)]="name" clearInput="true" errorText="Введите название лекарства"
                 label="Название лекарства" labelPlacement="stacked" name="name"
                 placeholder="Название лекарства" required="true" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input [(ngModel)]="description" label="Описание" name="description" labelPlacement="stacked"
                 placeholder="Описание"
                 type="text"></ion-input>
    </ion-item>
        <ion-item lines="none">
          <ion-input name="date_before" value="{{ (date || today ) | date: 'MM.yyyy' }}"
                     errorText="Введите дату окончания срока годности, указанную на упаковке"
                     label="Годен до" labelPlacement="stacked" placeholder="31.2025" required="true"
                     id="date_before">

          </ion-input>
          <ion-popover
            size="cover"
            trigger="date_before"
            show-backdrop="false"
            [dismissOnSelect]="true"
          >
            <ng-template>
              <ion-datetime
                #popoverDatetime
                presentation="month-year"
                [(ngModel)]="date"
                [min]="minDate"
                [max]="maxDate"
              ></ion-datetime>
            </ng-template>
          </ion-popover>
        </ion-item>
      </ion-content>
</form>
