<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Мои лекарства
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <ion-refresher (ionRefresh)="refresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">
        Мои лекарства
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-label *ngIf="expiresDateMedicine.length !== 0">
    <h1>Просроченные лекарства</h1>
    <ion-list>
      <ion-item-sliding *ngFor="let medicine of expiresDateMedicine">
        <app-medicine [medicine]="medicine"></app-medicine>
        <ion-item-options side="end">
          <ion-item-option class="ion-option" color="danger" (click)="deleteItem(medicine)">
            <ion-icon name="trash-outline" size="large"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-label>

  <ion-label *ngIf="activeMedicine.length !== 0">
    <h1>Непосроченные лекарства</h1>
    <ion-list>
      <ion-item-sliding *ngFor="let medicine of activeMedicine">
        <app-medicine [medicine]="medicine"></app-medicine>
        <ion-item-options side="end">
          <ion-item-option class="ion-option" color="danger" (click)="deleteItem(medicine)">
            <ion-icon name="trash-outline" size="large"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-label>
</ion-content>

<ion-button color="tertiary" expand="block" id="open-modal">
  <ion-icon name="add-outline" slot="start"></ion-icon>
  Добавить
</ion-button>

<app-form-add-medicaments></app-form-add-medicaments>
