ion-content.content {
  --padding-top: 12px;
  --padding-bottom: 12px;
  --padding-start: 20px;
  --inner-padding-end: 20px;
}

ion-item-option.ion-option {
  width: 90px;

  ion-icon {
    color: black;
  }
}

.ripple-parent {
  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
  overflow: hidden;

  border: 1px solid #ddd;

  user-select: none;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
