<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row *ngIf="!isSearch; else search" class="ion-align-items-center">
        <ion-col class="ion-text-start" size="10">
          <ion-title>
            Моя аптечка
          </ion-title>
        </ion-col>
        <ion-col class="ion-text-end" size="2">
          <ion-button fill="clear" (click)="openSearch()">
            <ion-icon name="search"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
      <ng-template #search>
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="auto">
              <ion-back-button defaultHref="/" (click)="closeSearch()" text=""></ion-back-button>

              <!--              <ion-button fill="clear" (click)="closeSearch()" class="button-back ion-no-padding">-->
              <!--                <ion-icon name="arrow-back-outline"></ion-icon>-->
              <!--              </ion-button>-->
            </ion-col>
            <ion-col [size]="10" class="ion-search">
              <ion-searchbar #searchbar [debounce]="1000" (ionInput)="handleInput($event)" clear-icon="none"
                             animated="true" autofocus="autofocus" class="ion-search"></ion-searchbar>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-template>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="content">
  <ion-refresher (ionRefresh)="refresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-label *ngIf="expiresDateMedicine.length !== 0">
    <h1>Просроченные лекарства</h1>
    <ion-list>
      <ion-item-sliding *ngFor="let medicine of expiresDateMedicine">
        <app-medicine [medicine]="medicine"></app-medicine>
        <ion-item-options side="end">
          <ion-item-option class="ion-option" color="danger" (click)="deleteItem(medicine)">
            <ion-icon name="trash-outline" size="large"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-label>

  <ion-label *ngIf="activeMedicine.length !== 0">
    <h1>Непосроченные лекарства</h1>
    <ion-list>
      <ion-item-sliding *ngFor="let medicine of activeMedicine">
        <app-medicine [medicine]="medicine"></app-medicine>
        <ion-item-options side="end">
          <ion-item-option class="ion-option" color="danger" (click)="deleteItem(medicine)">
            <ion-icon name="trash-outline" size="large"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ion-label>
</ion-content>

<ion-fab (click)="openModal()" slot="fixed" horizontal="center" vertical="bottom">
  <ion-fab-button>
    <ion-icon name="add"></ion-icon>
    <ion-ripple-effect type="unbounded"></ion-ripple-effect>
  </ion-fab-button>
</ion-fab>
